body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  outline: 1px solid #e5e5e5;
  background-color: #ffffff;
  box-shadow: 0 0 8px 2px rgb(219, 219, 219);
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  /* outline: 1px solid #333; */
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  /* outline: 1px solid #333; */
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-search__form {
  background-image: url("../img/hotel-background.jpg");
  background-size: 1200px 217px;
  background-position: top center;
  background-repeat: no-repeat;
}

.main-banner {
  margin-top: 20px;
}

.tagline {
  font-size: 21px;
  line-height: 26px;
  margin-top: 9px;
  margin-left: 375px;
}

.page-subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 27px;
}

.advantages__item {
  list-style: none;
}

.advantages__title {
  font-size: 21px;
  line-height: 21px;
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.footer-social__list {
  list-style: none;
}

.site-navigation-current a, .site-navigation-current a:hover, .site-navigation-current a:active {
  color: #766357;
  ;
}

.reason__title {
  font-size: 21px;
  line-height: 21px;
}

.reason__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search__title {
  font-size: 30px;
  line-height: 36px;
}

.search__info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search__popup {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.search__item {
  font-size: 14px;
  line-height: 26px;
}

.search__button {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.search__button button:focus, .search__button button:hover {
  background-color: #669ec0;
}

.footer-social__list {
  list-style: none;
}

.footer-copyright__contact {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.visit__text {
  font-size: 21px;
  line-height: 26px;
}

.filter-group__list {
  list-style: none;
}

.filter-group__title {
  font-size: 16px;
  line-height: 21px;
}

.filter-group__item {
  font-size: 14px;
  line-height: 21px:
}

.filter-group__item:nth-child(2) {
  margin-top: 20px;
}

.filter-group__item:nth-child(3) {
  margin-top: 20px;
}

.sorting {
  text-align: left;
}

.sorting__title {
  font-size: 21px;
  line-height: 26px;
}

.sorting__list {
  list-style: none;
}

.sorting__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting__item {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotel-result {
  text-align: left;
}

.hotel-result__list {
  list-style: none;
}

.hotel-result__title {
  font-size: 21px;
  line-height: 26px;
}

.hotel-result__price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-result__about {
  font-size: 14px;
  line-height: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.hotel-result__reservation {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.hotel-result__rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
}

.main-footer {
  text-align: left;
}

.button__next {
  border: none;
}

.button__back {
  border: none;
}

.main-navigation {
  padding-top: 0px;
  margin-top: 0px;
  position: relative;
}

.site-navigation {
  padding: 0;
  /* outline: 1px solid #333; */
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-left: 72px;
}

.site-navigation__link:nth-child(2) {
  margin-left: 147px;
}

.site-navigation__link:nth-child(3) {
  margin-left: 388px;
}

.site-navigation__link:nth-child(4) {
  margin-left: 166px;
}

.main-top-logo {
  position: absolute;
  top: 0px;
  left: 531px;
}

.tagline {
  text-align: center;
  width: 450px;
}

.page-subtitle {
  text-align: center;
  margin-bottom: 6px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.reason {
  /* outline: 1px solid #333; */
  order: 3;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33%;
  margin-top: 45px;
  background-color: #eeeeee;
}

.reason:nth-child(3), .reason:nth-child(4), .reason:nth-child(5) {
  margin-top: 0;
  padding-top: 43px;
  padding-bottom: 46px;
}

.reason--long {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: auto;
}

.reason--long {
  background-color: #81b3d2;
  color: #ffffff;
}

.reason--long:first-child {
  order: 1;
}

.reason--reverse {
  flex-direction: row-reverse;
  margin-top: 67px;
}

.reason__block {
  margin-left: 65px;
  height: 170px;
}

.reason__title {
  margin-left: 0;
  margin-top: 5px;
}

.reason__number {
  margin-top: 23px;
}

.reason__description {
  margin-top: 21px;
}

.reason--reverse .reason__block {
  margin: 0;
  margin-right: 50px;
}

.advantages__list {
  display: flex;
  /* outline: 1px solid #333; */
}

.advantages__item {
  /* outline: 1px solid #333; */
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 33%;
}

.advantages {
  /* outline: 1px solid #333; */
  order: 2;
  width: 100%;
  margin-top: 61px;
}

.advantages__title {
  margin-top: 22px;
}

.advantages__text {
  margin-top: 25px;
}

.search {
  text-align: center;
}

.search__title {
  margin-top: 50px;
  margin-bottom: 25px;
}

.search__info {
  width: 443px;
  margin-left: 378px;
  margin-top: 13px;
}

.search__popup {
  width: 568px;
  height: 86px;
  text-transform: uppercase;
  margin-top: 32px;
}

.search__form {
  /* outline: 1px solid #333; */
  width: 568px;
  height: 395px;
  margin-left: 316px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  background-color: #fff;
  visibility: hidden;
  box-shadow: 0 0 5px 1px rgb(225, 224, 222);
}

.search__form--close {
  visibility: visible;
}

.search__calendar {
  position: absolute;
  top: 63px;
  left: 483px;
}

.search__calendar-bottom {
  position: absolute;
  top: 130px;
  left: 483px;
}

.search__item {
  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
  margin-top: 55px;
  margin-left: 56px;
  width: auto;
}

.search__item label {}

.search__item input {
  font: inherit;
  box-sizing: border-box;
  margin-left: 20px;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  text-transform: uppercase;
  width: 345px;
  height: 35px;
  padding-left: 9px;
}

.search__item:nth-child(2) {
  margin-top: 19px;
}

.search__item:nth-child(2) label {}

.search__item:nth-child(2) input {
  margin-left: 17px;
}

.search__people input {}

.search__people label {}

.search__people:nth-child(2) {}

/* .button__back {
  margin-left: 49px;
  margin-top: 3px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.button__next {
  margin-left: 18px;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
} */

.search__container {
  margin: 0;
  display: flex;
  text-align: left;
  margin-top: 12px;
}

.search__adult {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.search__adult input {
  font: inherit;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
  width: 20px;
  text-align: center;
  margin-left: 16px;
}

.search__adult label {
  font: inherit;
  box-sizing: border-box;
  margin-left: 31px;
  border: none;
  text-transform: uppercase;
  margin-left: 54px;
}

.search__child {
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  margin-left: 53px;
  /* background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45); */
}

.search__child input {
  font: inherit;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
  width: 20px;
  text-align: center;
  margin-left: 16px;
}

.search__child label {
  font: inherit;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
}

.search__button {
  display: block;
  width: 458px;
  height: 58px;
  position: absolute;
  left: 55px;
  top: 282px;
}

.map {
  height: 473px;
  background-image: url("../img/map.png");
  background-size: 1200px 473px;
  background-position: top center;
  background-repeat: no-repeat;
}

.footer-social__button {
  /* outline: 1px solid #333; */
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__list {
  list-style: none;
  display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;
  margin-left: 251px;
}

.footer-copyright {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-top: 24px;
}

.footer-copyright__contact {
  margin-left: 228px;
  margin-top: 7px;
}

.footer-copyright__logo {
  margin-left: 8px;
}

.visit__text {
  width: 140px;
  height: 20px;
  margin-top: 31px;
  margin-left: 133px;
}

.advantages__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.hotel-search__form {
  display: flex;
  color: #ffffff;
  margin-top: 16px;
  min-height: 221px;
}

.filter-group__list {
  font-weight: 400;
  margin-left: 0px;
}

.filter-group:nth-child(2) {
  margin-left: 70px;
}

.filter-cost {
  margin-left: auto;
}

.filter-group {
  /* outline: 1px solid #333; */
  width: 240px;
}

.filter-group:first-child {
  width: 185px;
}

.sorting {
  display: flex;
  margin-left: 72px;
  /* outline: 1px solid #333; */
}

.sorting__title {
  margin-top: 26px;
}

.sorting__text {
  /* outline: 1px solid #333; */
  margin-left: 48px;
  margin-top: 32px;
}

.sorting__list {
  display: flex;
  /* outline: 1px solid #333; */
  padding: 0;
  margin-top: 32px;
  margin-left: 40px;
  width: 240px;
  justify-content: space-between;
}

.sorting__catalog {
  margin-top: 25px;
}

.hotel-result {
  display: flex;
  /* outline: 1px solid #333; */
}

.hotel-result__item {
  outline: 1px solid #e5e5e5;
  display: flex;
  position: relative;
}

.hotel-result__list {
  /* outline: 1px solid #333; */
  width: 100%;
}

.hotel-result__title {
  /* outline: 1px solid #333; */
}

.hotel-result__price {
  /* outline: 1px solid #333; */
}

/* Ползунок с ценой */

.filter-cost {
  width: 330px;
  margin-right: 72px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-cost__title {
  margin-top: 27px;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-left: 14px;
}

.filter-cost__price {
  position: relative;
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 314px;
  margin-left: 12px;
}

.filter-cost__price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter-cost__price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.filter-cost__price .min-price, .filter-cost__price .max-price {
  width: 90px;
  padding-left: 65px;
}

.filter-cost__price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter-cost__controls {
  position: relative;
  margin-bottom: 32px;
  width: 316px;
  margin-left: 13px;
}

.filter-cost__controls .filter-cost__scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter-cost__controls .filter-cost__bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.filter-cost__range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filter-cost__range-toggle:hover {
  background: #1c4f80;
}

.filter-cost__range-toggle-min {
  left: 0;
}

.filter-cost__range-toggle-max {
  left: 80%;
}

.filter-cost__button {
  display: block;
  margin: -3px 0px 0px 96px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  height: 38px;
  margin-bottom: 32px;
}

.filter-cost__button:hover {
  color: #000000;
  background: #ffffff;
}

/* Конец ползунка */

.filter-group {
  margin-left: 72px;
  padding-left: 0;
}

.filter-group__title {
  margin: 0;
  margin-top: 27px;
}

.filter-group__list {
  padding: 0;
  margin-top: 22px;
}

.filter-group__item {
  height: 25px;
  margin-top: 25px;
}

.filter-group__item label:first-child {}

.hotel-result__list {
  margin-top: 10px;
  padding-left: 0;
}

.hotel-result__image {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-left: 72px;
}

.hotel-result__price {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 1px;
  min-width: 116px;
}

.hotel-result__title {
  margin: 0;
  margin-top: 25px;
  margin-left: 1px;
}

.hotel-result__price--tab {
  margin-top: 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-result__container {
  display: flex;
}

.hotel-result__about {
  width: 110px;
  margin-top: 8px;
  height: 25px;
}

.hotel-result__reservation {
  width: 144px;
  margin-top: 8px;
  height: 25px;
}

.hotel-result__rate {
  margin-left: auto;
  margin-right: 70px;
  margin-top: 29px;
  height: 20px;
}

.hotel-result__rate:nth-child(2) {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 29px;
  height: 20px;
}

.sorting__catalog {
  list-style: none;
  display: flex;
}

.sorting__icon {
  margin-left: auto;
  margin-right: 73px;
}

.sorting__up-dir {
  margin-right: 12px;
}

.hotel-result__rating {
  margin-top: 64px;
  margin-right: 2px;
  width: 110px;
  height: 23px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 4px;
}

.footer-social__button:hover, .footer-social__button:focus {
  background-color: #669ec0;
}

.footer-social__button:active {
  background-color: #5496bd;
}

.footer-social__button:active path {
  fill: #88b6d1;
}

.footer-copyright__logo:hover path, .footer-copyright__logo:focus path {
  fill: #81b3d2;
}

.footer-copyright__logo:active path {
  fill: #bdbbbc;
}

.search__button:hover, .search__button:focus {
  background-color: #669ec0;
}

.search__button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.search__popup:hover, .search__popup:focus {
  background-color: #604e43;
}

.search__popup:active {
  background-color: #503e33;
  color: #857871;
}

.search__calendar:hover path, .search__calendar:focus path, .search__calendar-bottom:hover path, .search__calendar-bottom:focus path {
  fill: #000000;
}

.search__calendar:active path, .search__calendar-bottom:active path {
  fill: #81b3d2;
}

.search__item input:hover {
  background-color: #ebebeb;
}

.search__item input:active, .search__item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.filter-cost__button:hover, .filter-cost__button:focus {
  background-color: #fff;
  color: #000;
}

.hotel-result__link {
  color: #000;
}

.hotel-result__link:hover, .hotel-result__link:focus {
  color: #81b3d2;
}

.hotel-result__link:active {
  color: #cacaca;
}

.hotel-result__about:hover, .hotel-result__about:focus {
  background-color: #669ec0;
}

.hotel-result__about:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.hotel-result__reservation:hover, .hotel-result__reservation:focus {
  background-color: #604e43;
}

.hotel-result__reservation:active {
  background-color: #503e33;
  color: #857871;
}

.sorting__up-dir:hover path, .sorting__up-dir:focus path {
  fill: #231f20;
}

.sorting__up-dir:active path {
  fill: #81b3d2;
}

.sorting__down-dir:hover path, .sorting__down-dir:focus path {
  fill: #231f20;
}

.sorting__down-dir:active path {
  fill: #81b3d2;
}

.sorting__link {
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
  color: #b2b2b2;
}

.sorting__link:hover, .sorting__link:focus {
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
  color: #81b3d2;
}

.sorting__link:active {
  text-decoration: none;
  border-bottom: none;
  color: #000;
}

.hotel-result__star {
  background-image: url(../img/star.svg);
  background-size: 18px 17px;
  height: 17px;
}

.hotel-result__star--four {
  width: 73px;
  position: absolute;
  top: 29px;
  left: 1056px;
}

.hotel-result__star--three {
  width: 55px;
  position: absolute;
  left: 1074px;
  top: 30px;
}

.hotel-result__star--two {
  width: 36px;
  position: absolute;
  left: 1092px;
  top: 31px;
}

/* .hotel-result__star--one {
  width: 18px;
  position: absolute;
  left: px;
  top: px;
}


.hotel-result__star--five {
  width: 90px;
  position: absolute;
  left: px;
  top: px;
}
*/

.search__child .button__back {
  margin-left: 35px;
}

.search__minus:hover svg line {
  stroke: #000;
}

.search__minus:active svg line {
  stroke: #81b3d2;
}

.search__plus:hover svg line {
  stroke: #000;
}

.search__plus:active svg line {
  stroke: #81b3d2;
}

/* .filter-group__checkbox {
  width: 24px;
  height: 23px;
  display: block;
} */

.filter-group__item label::before {
  background: url("../img/checkbox-off.svg") no-repeat center / cover;
  content: "";
  width: 25px;
  height: 25px;
  display: block;
}

.filter-group__item input[type="checkbox"]:checked~label::before {
  background: url("../img/checkbox-on.svg") no-repeat center / cover;
  width: 30px;
}

.filter-group__item label {
  display: flex;
}

.search__block {
  display: flex;
  width: 114px;
  height: 38px;
  margin-top: 4px;
  background-color: #f2f2f2;
  margin-left: 41px;
}

.button__back {
  width: 38px;
  height: 24px;
  margin-top: 9px;
  margin-left: 6px;
  background-color: #f2f2f2;
}

.search-child>.button__back {
  margin-left: 34px;
}

.search__block input {
  min-width: 48px;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  border: none;
  background-color: #f2f2f2;
}

.search__block--margin {
  margin-left: 28px;
}

.button__next {
  width: 38px;
  height: 24px;
  margin-top: 8px;
  margin-right: 6px;
  background-color: #f2f2f2;
}

.main-footer {
  display: flex;
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 1200px;
  height: 120px;
}

.visit, .footer-social {
  margin-top: 15px;
}

.footer-copyright {
  margin-top: 38px;
}

.main-footer--margin {
  margin-top: -3px;
  position: relative;
  background-color: #fff;
}

.visit--margin, .footer-social--margin {
  margin-top: 0px;
}

.footer-copyright--margin {
  margin-top: 24px;
}

.filter-group__item-name {
  margin-left: 11px;
  margin-top: -2px;
}
