body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-search__form {
  background-image: url("../img/filter-background.jpg");
  /* width: 1200 height: 217 */
  background-position: top center;
  background-repeat: no-repeat;
}

.tagline {
  font-size: 21px;
  line-height: 26px;
}

.page-subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  font-size: 21px;
  line-height: 21px;
}

.advantages__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.footer-social__list {
  list-style: none;
}

.site-navigation-current a {
  color: #766357;
}

.reason__title {
  font-size: 21px;
  line-height: 21px;
}

.reason__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.reason--long {
  background-color: #81b3d2;
  color: #ffffff;
}

.search__title {
  font-size: 30px;
  line-height: 36px;
}

.search__info {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search__popup {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.search__item {
  font-size: 14px;
  line-height: 26px;
}

.search__button {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.search__button button:focus, .search__button button:hover {
  background-color: #669ec0;
}

.footer-social__list {
  list-style: none;
}

.footer-copyright__contact {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.visit__text {
  font-size: 21px;
  line-height: 26px;
}

.footer-copyright a:hover {
  background-color: #81b3d2;
}

.footer-copyright a:active {
  background-color: #bdbbbc:
}

.filter-group__list {
  list-style: none;
}

.filter-group__title {
  font-size: 16px;
  line-height: 21px;
}

.filter-group__item {
  font-size: 14px;
  line-height: 21px:
}

.filter-cost__text {
  font-size: 16px;
  line-height: 21px;
}

.filter-cost__button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background: none;
  color: #ffffff;
}

.sorting {
  text-align: left;
}

.sorting__title {
  font-size: 21px;
  line-height: 26px;
}

.sorting__list {
  list-style: none;
}

.sorting__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting__item {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotel-result {
  text-align: left;
}

.hotel-result__list {
  list-style: none;
}

.hotel-result__title {
  font-size: 21px;
  line-height: 26px;
}

.hotel-result__price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.hotel-result__about {
  font-size: 14px;
  line-height: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.hotel-result__reservation {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.hotel-result__rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
}

.main-footer {
  text-align: left;
}

.button__next {
  border: none;
}

.button__back {
  border: none;
}

.main-navigation {
  padding-top: 0px;
  margin-top: 0px;
}

.site-navigation {
  margin-top: 17px;
  padding: 0;
  /* outline: 1px solid #333; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.wrapper {
  margin-left: 40px;
  margin-right: 40px;
}

.main-top-logo {
  position: absolute;
  margin-left: 531px;
  margin-top: -17px;
}

.tagline {
  text-align: center;
  width: 450px;
  margin-left: 380px;
}

.page-subtitle {
  width: 489px;
  margin-left: 355px;
}

.reason {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.search {
  text-align: center;
}

.search__popup {
  width: 568px;
  height: 86px;
  text-transform: uppercase;
}

.search__form {
  outline: 1px solid #333;
  width: 568px;
  height: 395px;
  margin-left: 316px;
}

.search__button {
  width: 458px;
  height: 58px;
}

.main-footer {
  display: flex;
  /* background-color: #cbdda9; */
  justify-content: space-around;
}
